.guessBoard tr td {
    border: solid 1px;    
}

.game-area table{
    margin: auto;   
}
.guess {
    background-color: darkslategray;
}
.guess-color {
    border: solid 1px blue;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background-color: aqua;
}

.result{
    background-color: bisque;
    width: 60px;
}

.selection-color{
    border: solid 1px;
    border-radius: 15px;
    width: 25px;
    height: 25px;
    margin: auto
}

.hidden-color{
    background-color: firebrick;
    width: 25px;
    height: 30px;
}

.show-hidden-color {
    border-radius: 15px;
    border: solid 1px;
    width: 25px; 
    height: 25px;
}
.selection-colors-area{
    margin : 15px;
}

.results{
    border-radius: 10px;
    border: solid 1px;
    margin: 1px; 
    width: 10px; 
    height: 10px;
    display: inline-block;
}